<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>

<h1 id="temp">Thermostat</h1>

<p>Power Saving Mode: <span id='power-saving-mode'>ON</span></p>

<button id='temperature-up'>Turn Up</button>
<button id="temperature-down">Turn Down</button>
<button id="toggle-power-saving">Toggle Power Saving Mode</button>
<button id="reset">RESET</button>

<script src='../src/Thermostat.js'></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src='interface.js'></script>


</body>
</html>
