<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>

<h1>Thermostat</h1>
<h1 id="temp"></h1>

<section>
  <h2>Temperature outside: <span id='temperature-outside'></span></h2>
  <select id="location">
    <option value="" disabled selected>Select your location</option>
    <option value="london">London</option>
    <option value="margate">Margate</option>
    <option value="bristol">Bristol</option>
  </select>
</section>

<p>Power Saving Mode: <span id='power-saving-mode'>ON</span></p>

<button id='temperature-up'>Turn Up</button>
<button id="temperature-down">Turn Down</button>
<button id="toggle-power-saving">Toggle Power Saving Mode</button>
<button id="reset">RESET</button>

<script src='../src/Thermostat.js'></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src='interface.js'></script>

</body>
</html>
